# This is an excersize workflow
name: Complex Workflow

on:
    push:
        branches:
            - main
    # pull_request: 
    #    branches: ["main"]

jobs:
    job1:
      name: Job 1
      runs-on: ubuntu-latest
      steps:
        - name: Job 1, show date
          run: |
            echo "display ubuntu date"
            date
    job2:
      name: Job 2
      runs-on: windows-latest
      steps:
        - name: Job 2 step show date
          run: |
            Write-Output "Display windows date"
            Get-Date
    job3:
      name:  job 3
      runs-on: macos-latest
      steps:
        - name: job 3 step, show date
          run: |   
            echo "display macos date"
            date
    job4:
      name: Job 4
      runs-on: ubuntu-latest
      needs: [job1]
      steps:
        - name: step 4, demonstrate dependency
          run: echo "testing job dependency"      
