name: First Demo

on: push

jobs:
	job1:
		name: First Job
		runs-on: ubuntu-latest
		steps:
			- name: job 1 step 1
			uses: actions/checkout@v2
			- name: job 1 step 2
			run: |
				echo "runing first job step 2"
				env | sort
	
	job2:
		name: Second Job
		runs-on: windows-latest
		steps: 
			- name: job2 step 1
			uses: actions/checkout@v2
			- name: job2 step 2
			run: "Get-ChildItem Env: | Sort-Object Name"
			run: "job2 step 1"

